* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  margin-top: 250px; /* Adiciona um espaço de margem superior para compensar a altura do cabeçalho e da navegação */
  padding: 20px; /* Adiciona preenchimento interno ao conteúdo principal */
}

header {
    position: fixed; /* Mantém o cabeçalho fixo na parte superior da janela de visualização */
    top: 0; /* Alinha o cabeçalho no topo da janela de visualização */
    width: 100%; /* Define a largura do cabeçalho para ocupar toda a largura da janela de visualização */
    height: 149px;
    background-color: rgb(172, 172, 172);
    color: white;
    padding: 10px;
    z-index: 1000; /* Garante que a navegação fique acima de outros elementos, exceto o cabeçalho */
    margin: 0;
    outline: 0;

}

.nav-login {
  padding: 10px;
  margin: 00px;
}

nav {
  position: fixed; /* Mantém a navegação fixa na parte superior da janela de visualização */
  top: 149px; /* Alinha a navegação abaixo do cabeçalho (ajuste conforme necessário) */
  width: 100%; /* Define a largura da navegação para ocupar toda a largura da janela de visualização */ 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 0.5px #aaa;
  background-color: #eee;
  z-index: 998; /* Garante que a navegação fique acima de outros elementos, exceto o cabeçalho */
}
  

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    padding: 10px 20px;
    /*border: 2px solid grey;*/
    /* outline: 3px solid grey; */
    /* margin: 20px 30px; */
    text-decoration: none;
    color: #333;
}

nav li a:hover {
    background-color: #ddd;
}
/* 
nav a[aria-current='page'] {
  color: #000;
  background-color: gray;
} */
  

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem ;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

